  body {
    background-color: #F3F3F3;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
  }

 .create-toolbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 15px 10px;
      z-index: 999;
  }

  .create-toolbar h2 {
    margin-top: 3.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: #222;
  }

  .create-toolbar p.toolbar-description {
    margin: 0 5px 10px;
    font-size: 0.95rem;
    color: #555;
    text-align: center;
    max-width: 600px;
  }

  .toolbar-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 25px;
      
  }

  .create-editor-content {
    padding-top: 140px;   
  }

  .back-button,
  .delete-button,
  .save-button,
  .cancel-button,
  .invite-button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 10px;
      display: flex;
      align-items: center;
      color: #333;
      font-size: 20px;
      transition: color 0.2s ease;
  }

  .back-btn:hover,
  .back-button:hover,
  .invite-button:hover,
  .save-button:hover {
      color: #007bff;
  }

  .delete-button:hover,
  .cancel-button:hover {
      color:  #d9534f;;
  }

  #doc-title {
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: white;
      border-bottom: 1px solid #ccc;
      outline: none;
      padding: 5px 10px;
      width: 200px;
      color: #333;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }

  .create-editor-container .create-quill-editor {
      width: 8.5in;
      min-height: 11in;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
      background-color: white;
  }

  .create-editor-container .ql-container.ql-snow {
      border: none;
      display: block;
  }

  .create-editor-container .ql-toolbar.ql-snow{
      position: sticky;
      top: 240px;
      z-index: 100;
      display: flex;
      justify-content: center;
      background-color: #fff;
  }

  .create-editor-container {
    
    position: relative;
    margin-top: 10px;
  }
  
  .create-editor-container .ql-editor {
    margin-top: 40px;
  }


  body {
      background-color: #F3F3F3;
      margin: 0;
  }

  

 

  @media print {
      body {
          background: none;
      }

      .create-editor-container .ql-editor {
          width: 6.5in;
          min-height: 9in;
          padding: 0;
          margin: 0;
          box-shadow: none;
          align-self: flex-start;
      }

      .create-editor-container .ql-toolbar {
          display: none;
      }
  }
