.date {
    font-size: 14px;
    color: #666666f7;
    font-style: italic;
    margin: 0;
    margin-left: 2px;
}

.author {
    font-size: 14px;
    color: #666666e9;
    font-style: italic;
    margin-left: 2px;
    margin: 0;
}

.doc-info {
    display: flex;
    flex-direction: column;    
    font-size: 0.9em;
    color: #888;
    margin-bottom: 8px;
}